body {
  font-family: Arial;
  background: linear-gradient(#87ceeb, #ffffff);
  text-align: center;
}

.hero {
  padding: 60px;
}

textarea {
  width: 80%;
  height: 100px;
}

button {
  padding: 10px;
  background: #4da6ff;
  border: none;
  color: white;
}
